
.center {
    text-align: center;
}
h1 {
        font-family: "Katin", serif 
        font-weight: 400;
        font-style: normal;
        color: white;
}
body {
    background-color: black !important
    color: white;
}

.nav-link{
    color: white;
}
.active{
    background-color: red !important;
}
.nav-link:hover {
    color: #6d0000;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(255, 0, 0);
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8f0000;
    --bs-btn-hover-border-color: white;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
}
